<div>
  <mat-toolbar class="sticky">
    <a href="#firewall">Firewall</a>
    <a href="#fail2ban">Fail2ban</a>
    <a href="#cle">Authentification par clé publique</a>
    <a href="#root">Mot de passe ROOT</a>
    <a href="#ssh">Port SSH</a>
    <a href="#motd">Traçabilité via Motd</a>
    <a href="#maj">Maj du serveur</a>
    <a href="#php">Sécuriser le PHP</a>
    <a href="#rkhunter">Rkhunter</a>
    <a href="#ip">Restriction par IP</a>
    <a href="#https">HTTPS</a>
    <a href="#vpn">VPN</a>
    <a href="#mfa">MFA</a>
  </mat-toolbar>
</div>
