mat-toolbar {
  position: fixed;
  top: 0px;
}

a
{
  color: black;
  font-size: 14px;
  margin: auto;
  text-decoration:none;

}

a:hover{
  cursor: pointer;
  color: #ACACAC;
}

@media (min-width: 1200px) {
  .ecran-grand{
    display: block;
  }

  .ecran-petit{
    display: none;
  }
}

@media (max-width: 1200px) {
  .ecran-grand{
    display: none;
  }

  .ecran-petit{
    display: block;
  }
}


