<div class="ecran-grand">
  <mat-toolbar id="top" class="sticky">
    <a (click)="scrollTo('fail2ban')">Fail2ban</a>
    <a (click)="scrollTo('firewall')">Firewall</a>
    <a (click)="scrollTo('root')">Mot de passe ROOT</a>
    <a (click)="scrollTo('ssh')">Port SSH</a>
    <a (click)="scrollTo('cle')">Authentification par clé publique</a>
    <a (click)="scrollTo('mysql')">Port MySQL / MardiaDB</a>
    <a (click)="scrollTo('maj')">Maj du serveur</a>
    <a (click)="scrollTo('rkhunter')">Rkhunter</a>
    <a (click)="scrollTo('https')">HTTPS</a>
    <a (click)="scrollTo('vpn')">VPN</a>
    <a (click)="scrollTo('mfa')">MFA</a>
  </mat-toolbar>
</div>

<div class="ecran-petit">
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon mat-button [matMenuTriggerFor]="menu">menu</mat-icon>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="scrollTo('fail2ban')">Fail2ban</button>
          <button mat-menu-item (click)="scrollTo('firewall')">Firewall</button>
          <button mat-menu-item (click)="scrollTo('root')">Mot de passe ROOT</button>
          <button mat-menu-item (click)="scrollTo('ssh')">Port SSH</button>
          <button mat-menu-item (click)="scrollTo('cle')">Authentification par clé publique</button>
          <button mat-menu-item (click)="scrollTo('mysql')">Port MySQL / MariaDB</button>
          <button mat-menu-item (click)="scrollTo('maj')">Maj du serveur</button>
          <button mat-menu-item (click)="scrollTo('rkhunter')">Rkhunter</button>
          <button mat-menu-item (click)="scrollTo('https')">HTTPS</button>
          <button mat-menu-item (click)="scrollTo('vpn')">VPN</button>
          <button mat-menu-item (click)="scrollTo('mfa')">MFA</button>
        </mat-menu>
    </button>
  </mat-toolbar-row>
  </mat-toolbar>
</div>
