mat-toolbar {
  position: sticky;
  top: 50px
}

a:link
{
  color: black;
  font-size: 14px;
  margin: auto;
  text-decoration:none;
}

a:visited {
  color: black
}


@media (min-width: 1200px) {
  .ecran-grand{
    display: block;
  }
  
  .ecran-petit{
    display: none;
  }
}

@media (max-width: 1200px) {
  .ecran-grand{
    display: none;
  }
  
  .ecran-petit{
    display: block;
  }
}


