<div class="quality">
  <div>
    <div class="textContent">
      <h3>Apprentissage</h3>
    </div>
    <img class="imgContent" src ="assets/images/protection.jpg">
  </div>

  <div>
    <div class="textContent">
      <h3>Protection</h3>
    </div>
    <img class="imgContent" src ="assets/images/protection.jpg">
  </div>

  <div>
    <div class="textContent">
      <h3>Securité</h3>
    </div>
    <img class="imgContent" src ="assets/images/securite.png">
  </div>

  <div>
    <div class="textContent">
      <h3>Vitesse</h3>
    </div>
    <img class="imgContent" src ="assets/images/speed.png">
  </div>
</div>
