<img class="img-responsive" src="assets/images/cybersecu.jpeg">

<mat-toolbar>
  <button mat-button>Firewall</button>
  <button mat-button>Fail2ban</button>
  <button mat-button>Authentification par clé publique</button>
  <button mat-button>Mot de passe ROOT</button>
  <button mat-button>Port SSH</button>
  <button mat-button>Traçabilité via Motd</button>
  <button mat-button>Maj du serveur</button>
  <button mat-button>Sécuriser le PHP</button>
  <button mat-button>Rkhunter</button>
  <button mat-button>Restriction par IP</button>
  <button mat-button>HTTPS</button>
  <button mat-button>VPN</button>
  <button mat-button>MFA</button>
</mat-toolbar>

<div class="page">
  <p>Vous souhaitez mettre en place un serveur perso pour héberger votre site web, mais vous ne savez pas comment
  mettre en place la sécurité sur ce dernier ? Pas de panique ! Speed Secure vous propose la solution à votre besoin.
  </p>
  <h2>Fail2ban, l'outils pour bannir des IP</h2>
  <img class="fail2ban" src ="assets/images/Fail2ban_logo.png">
  <p>Fail2ban est une application qui analyse les logs de divers services (SSH, Apache, FTP…) en cherchant des
    correspondances entre des motifs définis dans ses filtres et les entrées des logs. Lorsqu'une correspondance
    est trouvée une ou plusieurs actions sont exécutées. Typiquement, fail2ban cherche des tentatives répétées de
    connexions infructueuses dans les fichiers journaux et procède à un bannissement en ajoutant une règle au pare-feu
    iptables ou nftables pour bannir l'adresse IP de la source.</p>

  <h2>Firewall</h2>
  <img class="fail2ban" src="assets/images/firewall.png">
  <p>Un firewall est un appareil de sécurité réseau qui surveille le trafic réseau entrant et sortant et autorise
    ou bloque les paquets de donnés en se basant sur un ensemble de règles de sécurité. Il est chargé de dresser
    une barrière entre votre réseau interne et le trafic entrant provenant de sources externes (comme Internet)
    afin de bloquer le trafic malveillant des virus et des pirates.

  </p>
</div>

