<img class="img-responsive" src="assets/images/cybersecu.jpeg">

<mat-toolbar class="sticky">
  <a href="#firewall">Firewall</a>
  <a href="#fail2ban">Fail2ban</a>
  <a href="#cle">Authentification par clé publique</a>
  <a href="#root">Mot de passe ROOT</a>
  <a href="#ssh">Port SSH</a>
  <a href="#motd">Traçabilité via Motd</a>
  <a href="#maj">Maj du serveur</a>
  <a href="#php">Sécuriser le PHP</a>
  <a href="#rkhunter">Rkhunter</a>
  <a href="#ip">Restriction par IP</a>
  <a href="#https">HTTPS</a>
  <a href="#vpn">VPN</a>
  <a href="#mfa">MFA</a>
</mat-toolbar>

<div class="page">
  <p>Vous souhaitez mettre en place un serveur perso pour héberger votre site web, mais vous ne savez pas comment
  mettre en place la sécurité sur ce dernier ? Pas de panique ! Speed Secure vous propose la solution à votre besoin.
  </p>
  <div id="fail2ban"> <h2>Fail2ban, l'outils pour bannir des IP</h2></div>
  <img class="imgContent" src ="assets/images/Fail2ban_logo.png">
  <p>Fail2ban est une application qui analyse les logs de divers services (SSH, Apache, FTP…) en cherchant des
    correspondances entre des motifs définis dans ses filtres et les entrées des logs. Lorsqu'une correspondance
    est trouvée une ou plusieurs actions sont exécutées. Typiquement, fail2ban cherche des tentatives répétées de
    connexions infructueuses dans les fichiers journaux et procède à un bannissement en ajoutant une règle au pare-feu
    iptables ou nftables pour bannir l'adresse IP de la source.</p>


  <div id="firewall">
  <h2>Firewall</h2></div>
  <img class="imgContent" src="assets/images/firewall.png">
  <p>Un firewall est un appareil de sécurité réseau qui surveille le trafic réseau entrant et sortant et autorise
    ou bloque les paquets de donnés en se basant sur un ensemble de règles de sécurité. Il est chargé de dresser
    une barrière entre votre réseau interne et le trafic entrant provenant de sources externes (comme Internet)
    afin de bloquer le trafic malveillant des virus et des pirates.
  </p>

  <div id="root"> <h2>Modifier son mot de passe root</h2></div>
  <img class="imgContent" src="assets/images/password.png">
  <p>Un firewall est un appareil de sécurité réseau qui surveille le trafic réseau entrant et sortant et autorise
    ou bloque les paquets de donnés en se basant sur un ensemble de règles de sécurité. Il est chargé de dresser
    une barrière entre votre réseau interne et le trafic entrant provenant de sources externes (comme Internet)
    afin de bloquer le trafic malveillant des virus et des pirates.
  </p>

  <div id="ssh"><h2>Modifier son port SSH</h2></div>
  <img class="imgContent" src="assets/images/ssh.jpeg">
  <p>Un firewall est un appareil de sécurité réseau qui surveille le trafic réseau entrant et sortant et autorise
    ou bloque les paquets de donnés en se basant sur un ensemble de règles de sécurité. Il est chargé de dresser
    une barrière entre votre réseau interne et le trafic entrant provenant de sources externes (comme Internet)
    afin de bloquer le trafic malveillant des virus et des pirates.
  </p>

  <div id="cle">
  <h2>L'authentification par clé publique</h2></div>
  <img class="imgContent" src="assets/images/firewall.png">
  <p>Un firewall est un appareil de sécurité réseau qui surveille le trafic réseau entrant et sortant et autorise
    ou bloque les paquets de donnés en se basant sur un ensemble de règles de sécurité. Il est chargé de dresser
    une barrière entre votre réseau interne et le trafic entrant provenant de sources externes (comme Internet)
    afin de bloquer le trafic malveillant des virus et des pirates.
  </p>

  <div id="motd">
  <h2>La traçabilité via Motd</h2></div>
  <img class="imgContent" src="assets/images/firewall.png">
  <p>Un firewall est un appareil de sécurité réseau qui surveille le trafic réseau entrant et sortant et autorise
    ou bloque les paquets de donnés en se basant sur un ensemble de règles de sécurité. Il est chargé de dresser
    une barrière entre votre réseau interne et le trafic entrant provenant de sources externes (comme Internet)
    afin de bloquer le trafic malveillant des virus et des pirates.
  </p>

  <div id="maj">
  <h2>Mettre à jour régulièrement son serveur</h2></div>
  <img class="imgContent" src="assets/images/update.jpeg">
  <p>Un firewall est un appareil de sécurité réseau qui surveille le trafic réseau entrant et sortant et autorise
    ou bloque les paquets de donnés en se basant sur un ensemble de règles de sécurité. Il est chargé de dresser
    une barrière entre votre réseau interne et le trafic entrant provenant de sources externes (comme Internet)
    afin de bloquer le trafic malveillant des virus et des pirates.
  </p>

  <div id="php">
  <h2>Sécuriser son PHP</h2></div>
  <img class="imgContent" src="assets/images/php.svg">
  <p>Un firewall est un appareil de sécurité réseau qui surveille le trafic réseau entrant et sortant et autorise
    ou bloque les paquets de donnés en se basant sur un ensemble de règles de sécurité. Il est chargé de dresser
    une barrière entre votre réseau interne et le trafic entrant provenant de sources externes (comme Internet)
    afin de bloquer le trafic malveillant des virus et des pirates.
  </p>

  <div id="rkhunter">
  <h2>Rkhunter</h2></div>
  <img class="imgContent" src="assets/images/rkhunter.png">
  <p>Un firewall est un appareil de sécurité réseau qui surveille le trafic réseau entrant et sortant et autorise
    ou bloque les paquets de donnés en se basant sur un ensemble de règles de sécurité. Il est chargé de dresser
    une barrière entre votre réseau interne et le trafic entrant provenant de sources externes (comme Internet)
    afin de bloquer le trafic malveillant des virus et des pirates.
  </p>

  <div id="ip">
  <h2>La restrictions des IP</h2></div>
  <img class="imgContent" src="assets/images/firewall.png">
  <p>Un firewall est un appareil de sécurité réseau qui surveille le trafic réseau entrant et sortant et autorise
    ou bloque les paquets de donnés en se basant sur un ensemble de règles de sécurité. Il est chargé de dresser
    une barrière entre votre réseau interne et le trafic entrant provenant de sources externes (comme Internet)
    afin de bloquer le trafic malveillant des virus et des pirates.
  </p>

  <div id="https">
  <h2>Passer son site en HTTPS</h2></div>
  <img class="imgContent" src="assets/images/https.jpeg">
  <p>HTTPS n'est pas l'opposé de HTTP mais plutôt son petit cousin. Tous deux sont des protocoles de transfert
    hypertexte qui permettent à des données web d'être affichées sur votre écran lorsque vous envoyez une requête.
    Cependant, HTTPS est légèrement différent, plus avancé et bien plus sécurisé.
    Avec HTTPS, les échanges HTTP entre le client et le serveur sont chiffrés (et donc sécurisés) via le protocole
    TLS (ou autrefois SSL).
  </p>

  <div id="vpn">
  <h2>Mettre en place un VPN</h2></div>
  <img class="imgContent" src="assets/images/vpn.jpeg">
  <p>Un firewall est un appareil de sécurité réseau qui surveille le trafic réseau entrant et sortant et autorise
    ou bloque les paquets de donnés en se basant sur un ensemble de règles de sécurité. Il est chargé de dresser
    une barrière entre votre réseau interne et le trafic entrant provenant de sources externes (comme Internet)
    afin de bloquer le trafic malveillant des virus et des pirates.
  </p>

  <div id="mfa">
  <h2>Configurer une MFA</h2></div>
  <img class="imgContent" src="assets/images/mfa.png">
  <p>Un firewall est un appareil de sécurité réseau qui surveille le trafic réseau entrant et sortant et autorise
    ou bloque les paquets de donnés en se basant sur un ensemble de règles de sécurité. Il est chargé de dresser
    une barrière entre votre réseau interne et le trafic entrant provenant de sources externes (comme Internet)
    afin de bloquer le trafic malveillant des virus et des pirates.
  </p>




</div>

